<footer class="site-footer">
  <div class="container">
    <p>Мы знаем что сейчас тут нет SSL(https). Как только будет, так сразу переедем на <a href="https://dcpub.ru">https://</a>. Сертификат пока что еще готовит GitLab и мы сами ждем: <code>GitLab is obtaining a Let's Encrypt SSL certificate for this domain. This process can take some time. Please try again later.</code>. Авторизации и прочих чувствиельных данных тут не передается, поэтому ничего страшного нет, да и сам сайт на Jekyll и полностью статичен. Можете </a href="https://gitlab.com/dc20e6/dcpub.ru">код смотреть тут</a>, нам скрывать нечего :)
    </p>

    <small class="pull-left">&copy;{{ site.time | date: '%Y' }} All rights reserved. Made with <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> and ♥, based on <a href="https://github.com/nandomoreirame/simplest" target="_blank">simplest</a> theme</small>
    <small class="pull-right">by <a href="http://dc20e6.ru/" target="_blank">dc20e6</a></small>
  </div>
</footer>
