<section class="intro">
  <div class="container">
    <p class="lead">Привет, это <strong class="author-name" itemprop="name">{{ site.author.name }}</strong> и в нашем online-ПАБе говорят про ИБ и обо всем в что мире, а еще мы пьем (что именно -- это на ваш вкус, но помните алкоголь вредит вашему здоровью;).</p>

    <p class="lead">
      У нас есть два барных <s>стула</s> стола, за которые можно сесть и поговорить с единомышренниками.
    </p>
    <div id="pubs" style="display: block;">
      <div id="room1" style="float: left; width: 49%;">
        <p>
          <a href="https://whereby.com/dcpub" target="_blank">Еееееее, тут выпить и поговорить! Открыто всегда, а если ты пока один, то подожди, может кто присоединится :)</a>
        </p>
      </div>

      <div id="room2" style="float: right; width: 49%;">
        <p>
          <a href="https://whereby.com/dcpub-31337" target="_blank">31337 команата. Тут фейсконтроль, так как проходят митапы. Вообщем, VIP-комната ;)</a>
        </p>
      </div>
    </div>
    <br><hr>

  </div>
</section>
