
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></h1>
    <ul class="navbar">
      <li><a href="{{ '/calendar' | prepend: site.baseurl }}">Календарь встреч</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">О нас</a></li>
    </ul>
  </div>
</nav>
