
<aside class="share">

  <h4>Share this.</h4>
  <a href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}&amp;text={{page.title}}"onclick="window.open(this.href, 'telegram-share', 'width=550,height=235');return false;">Telegram</a>
  <a href="http://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{ page.url }}&amp;hashtags=web,dev,blog,soudev&amp;via=nandomoreirame"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">Facebook</a>

</aside>
